::-webkit-scrollbar {
	display: none;
}

.page--material__background {
	background-color: white;
}
.toolbar-button--materialFontSize20 {
	font-size: 20px;
}

.CodeMirror {
	line-height: 1em;
	font-family: monospace;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.CodeMirror-scroll {
	overflow: auto;
	height: 100%;
	position: relative;
	outline: none;
}
