.markdown-body {
  .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
  }
  .anchor {
    float: left;
    line-height: 1;
    margin-left: -20px;
    padding-right: 4px;
    &:focus {
      outline: none;
    }
  }
  h1 {
    .octicon-link {
      color: #1b1f23;
      vertical-align: middle;
      visibility: hidden;
    }
    &:hover {
      .anchor {
        text-decoration: none;
        .octicon-link {
          visibility: visible;
          &:before {
            width: 16px;
            height: 16px;
            content: " ";
            display: inline-block;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
          }
        }
      }
    }
    font-size: 2em;
    margin: 0.67em 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
    font-size: 2em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
  }
  h2 {
    .octicon-link {
      color: #1b1f23;
      vertical-align: middle;
      visibility: hidden;
    }
    &:hover {
      .anchor {
        text-decoration: none;
        .octicon-link {
          visibility: visible;
          &:before {
            width: 16px;
            height: 16px;
            content: " ";
            display: inline-block;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
          }
        }
      }
    }
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
    font-size: 1.5em;
  }
  h3 {
    .octicon-link {
      color: #1b1f23;
      vertical-align: middle;
      visibility: hidden;
    }
    &:hover {
      .anchor {
        text-decoration: none;
        .octicon-link {
          visibility: visible;
          &:before {
            width: 16px;
            height: 16px;
            content: " ";
            display: inline-block;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
          }
        }
      }
    }
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
    font-size: 1.25em;
  }
  h4 {
    .octicon-link {
      color: #1b1f23;
      vertical-align: middle;
      visibility: hidden;
    }
    &:hover {
      .anchor {
        text-decoration: none;
        .octicon-link {
          visibility: visible;
          &:before {
            width: 16px;
            height: 16px;
            content: " ";
            display: inline-block;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
          }
        }
      }
    }
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
    font-size: 1em;
  }
  h5 {
    .octicon-link {
      color: #1b1f23;
      vertical-align: middle;
      visibility: hidden;
    }
    &:hover {
      .anchor {
        text-decoration: none;
        .octicon-link {
          visibility: visible;
          &:before {
            width: 16px;
            height: 16px;
            content: " ";
            display: inline-block;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
          }
        }
      }
    }
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
    font-size: 0.875em;
  }
  h6 {
    .octicon-link {
      color: #1b1f23;
      vertical-align: middle;
      visibility: hidden;
    }
    &:hover {
      .anchor {
        text-decoration: none;
        .octicon-link {
          visibility: visible;
          &:before {
            width: 16px;
            height: 16px;
            content: " ";
            display: inline-block;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
          }
        }
      }
    }
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 12px;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
    font-size: 0.85em;
    color: #6a737d;
  }
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  details {
    display: block;
    margin-top: 0;
    margin-bottom: 16px;
    summary {
      cursor: pointer;
    }
  }
  summary {
    display: list-item;
  }
  a {
    background-color: initial;
    color: #0366d6;
    text-decoration: none;
    &:active {
      outline-width: 0;
    }
    &:hover {
      outline-width: 0;
      text-decoration: underline;
    }
    &:not([href]) {
      color: inherit;
      text-decoration: none;
    }
  }
  strong {
    font-weight: inherit;
    font-weight: bolder;
    font-weight: 600;
  }
  img {
    border-style: none;
    max-width: 100%;
    box-sizing: initial;
    background-color: #fff;
  }
  code {
    font-family: monospace, monospace;
    font-size: 1em;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 12px;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
  }
  kbd {
    font-family: monospace, monospace;
    font-size: 1em;
    display: inline-block;
    padding: 3px 5px;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
    display: inline-block;
    padding: 3px 5px;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
  }
  pre {
    font-family: monospace, monospace;
    font-size: 1em;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 16px;
    word-wrap: normal;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
    > code {
      padding: 0;
      margin: 0;
      font-size: 100%;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
    code {
      display: inline;
      max-width: auto;
      padding: 0;
      margin: 0;
      overflow: visible;
      line-height: inherit;
      word-wrap: normal;
      background-color: initial;
      border: 0;
    }
  }
  hr {
    box-sizing: initial;
    height: 0;
    overflow: visible;
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
    border-bottom-color: #eee;
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
    &:after {
      display: table;
      content: "";
      clear: both;
    }
    &:before {
      display: table;
      content: "";
    }
  }
  input {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    &::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
      appearance: none;
    }
    &::-webkit-outer-spin-button {
      margin: 0;
      -webkit-appearance: none;
      appearance: none;
    }
  }
  [type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
  }
  * {
    box-sizing: border-box;
  }
  table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 16px;
    display: block;
    width: 100%;
    overflow: auto;
    th {
      font-weight: 600;
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }
    td {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }
    tr {
      background-color: #fff;
      border-top: 1px solid #c6cbd1;
      &:nth-child(2n) {
        background-color: #f6f8fa;
      }
    }
  }
  td {
    padding: 0;
  }
  th {
    padding: 0;
  }
  p {
    margin-top: 0;
    margin-bottom: 10px;
    margin-top: 0;
    margin-bottom: 16px;
  }
  blockquote {
    margin: 0;
    margin-top: 0;
    margin-bottom: 16px;
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 16px;
    padding-left: 2em;
    ol {
      list-style-type: lower-roman;
      margin-top: 0;
      margin-bottom: 0;
      ol {
        list-style-type: lower-alpha;
      }
    }
    ul {
      ol {
        list-style-type: lower-alpha;
      }
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 16px;
    padding-left: 2em;
    ol {
      list-style-type: lower-roman;
      margin-top: 0;
      margin-bottom: 0;
      ol {
        list-style-type: lower-alpha;
      }
    }
    ul {
      ol {
        list-style-type: lower-alpha;
      }
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  dd {
    margin-left: 0;
  }
  &:checked {
    + {
      .radio-label {
        position: relative;
        z-index: 1;
        border-color: #0366d6;
      }
    }
  }
  .border {
    border: 1px solid #e1e4e8 !important;
  }
  .border-0 {
    border: 0 !important;
  }
  .border-bottom {
    border-bottom: 1px solid #e1e4e8 !important;
  }
  .rounded-1 {
    border-radius: 3px !important;
  }
  .bg-white {
    background-color: #fff !important;
  }
  .bg-gray-light {
    background-color: #fafbfc !important;
  }
  .text-gray-light {
    color: #6a737d !important;
  }
  .mb-0 {
    margin-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  .my-2 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;
  }
  .pl-0 {
    padding-left: 0 !important;
    padding-left: 0 !important;
  }
  .py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .pl-1 {
    padding-left: 4px !important;
    padding-left: 4px !important;
  }
  .pl-2 {
    padding-left: 8px !important;
    padding-left: 8px !important;
  }
  .py-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
  .pl-3 {
    padding-left: 16px !important;
    padding-left: 16px !important;
  }
  .px-3 {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .pl-4 {
    padding-left: 24px !important;
    padding-left: 24px !important;
  }
  .pl-5 {
    padding-left: 32px !important;
    padding-left: 32px !important;
  }
  .pl-6 {
    padding-left: 40px !important;
    padding-left: 40px !important;
  }
  .f6 {
    font-size: 12px !important;
  }
  .lh-condensed {
    line-height: 1.25 !important;
  }
  .text-bold {
    font-weight: 600 !important;
  }
  .pl-c {
    color: #6a737d;
  }
  .pl-c1 {
    color: #005cc5;
  }
  .pl-s {
    .pl-v {
      color: #005cc5;
    }
    .pl-s1 {
      color: #24292e;
    }
    color: #032f62;
    .pl-pse {
      .pl-s1 {
        color: #032f62;
      }
    }
  }
  .pl-e {
    color: #6f42c1;
  }
  .pl-en {
    color: #6f42c1;
  }
  .pl-smi {
    color: #24292e;
  }
  .pl-ent {
    color: #22863a;
  }
  .pl-k {
    color: #d73a49;
  }
  .pl-pds {
    color: #032f62;
  }
  .pl-sr {
    color: #032f62;
    .pl-cce {
      color: #032f62;
      font-weight: 700;
      color: #22863a;
    }
    .pl-sra {
      color: #032f62;
    }
    .pl-sre {
      color: #032f62;
    }
  }
  .pl-smw {
    color: #e36209;
  }
  .pl-v {
    color: #e36209;
  }
  .pl-bu {
    color: #b31d28;
  }
  .pl-ii {
    color: #fafbfc;
    background-color: #b31d28;
  }
  .pl-c2 {
    color: #fafbfc;
    background-color: #d73a49;
    &:before {
      content: "^M";
    }
  }
  .pl-ml {
    color: #735c0f;
  }
  .pl-mh {
    font-weight: 700;
    color: #005cc5;
    .pl-en {
      font-weight: 700;
      color: #005cc5;
    }
  }
  .pl-ms {
    font-weight: 700;
    color: #005cc5;
  }
  .pl-mi {
    font-style: italic;
    color: #24292e;
  }
  .pl-mb {
    font-weight: 700;
    color: #24292e;
  }
  .pl-md {
    color: #b31d28;
    background-color: #ffeef0;
  }
  .pl-mi1 {
    color: #22863a;
    background-color: #f0fff4;
  }
  .pl-mc {
    color: #e36209;
    background-color: #ffebda;
  }
  .pl-mi2 {
    color: #f6f8fa;
    background-color: #005cc5;
  }
  .pl-mdr {
    font-weight: 700;
    color: #6f42c1;
  }
  .pl-ba {
    color: #586069;
  }
  .pl-sg {
    color: #959da5;
  }
  .pl-corl {
    text-decoration: underline;
    color: #032f62;
  }
  .pl-7 {
    padding-left: 48px !important;
  }
  .pl-8 {
    padding-left: 64px !important;
  }
  .pl-9 {
    padding-left: 80px !important;
  }
  .pl-10 {
    padding-left: 96px !important;
  }
  .pl-11 {
    padding-left: 112px !important;
  }
  .pl-12 {
    padding-left: 128px !important;
  }
  &:after {
    display: table;
    content: "";
    clear: both;
  }
  &:before {
    display: table;
    content: "";
  }
  &:first-child {
    margin-top: 0 !important;
  }
  &:last-child {
    margin-bottom: 0 !important;
  }
  dl {
    margin-top: 0;
    margin-bottom: 16px;
    padding: 0;
    dt {
      padding: 0;
      margin-top: 16px;
      font-size: 1em;
      font-style: italic;
      font-weight: 600;
    }
    dd {
      padding: 0 16px;
      margin-bottom: 16px;
    }
  }
  li {
    word-wrap: break-all;
    > p {
      margin-top: 16px;
    }
    + {
      li {
        margin-top: 0.25em;
      }
    }
  }
  img[align="right"] {
    padding-left: 20px;
  }
  img[align="left"] {
    padding-right: 20px;
  }
  .highlight {
    margin-bottom: 16px;
    pre {
      margin-bottom: 0;
      word-break: normal;
      padding: 16px;
      overflow: auto;
      font-size: 85%;
      line-height: 1.45;
      background-color: #f6f8fa;
      border-radius: 3px;
    }
  }
  .commit-tease-sha {
    display: inline-block;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 90%;
    color: #444d56;
  }
  .full-commit {
    .btn-outline {
      &:not(:disabled) {
        &:hover {
          color: #005cc5;
          border-color: #005cc5;
        }
      }
    }
  }
  .blob-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .blob-wrapper-embedded {
    max-height: 240px;
    overflow-y: auto;
  }
  .blob-num {
    width: 1%;
    min-width: 50px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 12px;
    line-height: 20px;
    color: rgba(27, 31, 35, 0.3);
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
      color: rgba(27, 31, 35, 0.6);
    }
    &:before {
      content: attr(data-line-number);
    }
  }
  .blob-code {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 20px;
    vertical-align: top;
  }
  .blob-code-inner {
    overflow: visible;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 12px;
    color: #24292e;
    word-wrap: normal;
    white-space: pre;
  }
  .pl-token.active {
    cursor: pointer;
    background: #ffea7f;
  }
  .pl-token {
    &:hover {
      cursor: pointer;
      background: #ffea7f;
    }
  }
  .tab-size[data-tab-size="1"] {
    -moz-tab-size: 1;
    tab-size: 1;
  }
  .tab-size[data-tab-size="2"] {
    -moz-tab-size: 2;
    tab-size: 2;
  }
  .tab-size[data-tab-size="3"] {
    -moz-tab-size: 3;
    tab-size: 3;
  }
  .tab-size[data-tab-size="4"] {
    -moz-tab-size: 4;
    tab-size: 4;
  }
  .tab-size[data-tab-size="5"] {
    -moz-tab-size: 5;
    tab-size: 5;
  }
  .tab-size[data-tab-size="6"] {
    -moz-tab-size: 6;
    tab-size: 6;
  }
  .tab-size[data-tab-size="7"] {
    -moz-tab-size: 7;
    tab-size: 7;
  }
  .tab-size[data-tab-size="8"] {
    -moz-tab-size: 8;
    tab-size: 8;
  }
  .tab-size[data-tab-size="9"] {
    -moz-tab-size: 9;
    tab-size: 9;
  }
  .tab-size[data-tab-size="10"] {
    -moz-tab-size: 10;
    tab-size: 10;
  }
  .tab-size[data-tab-size="11"] {
    -moz-tab-size: 11;
    tab-size: 11;
  }
  .tab-size[data-tab-size="12"] {
    -moz-tab-size: 12;
    tab-size: 12;
  }
  .task-list-item {
    list-style-type: none;
    + {
      .task-list-item {
        margin-top: 3px;
      }
    }
    input {
      margin: 0 0.2em 0.25em -1.6em;
      vertical-align: middle;
    }
  }
}
