.toolbar--material {
  background: rgb(0, 22, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 22, 255, 1) 0%,
    rgba(0, 118, 255, 1) 100%
  );
}

.toolbar--material__center {
  color: white;
}

.zmdi-search:before {
    color: white;
}

.zmdi-menu:before {
    color: white;
}